<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatea con Kleer</title>
</head>
<body>
    <h1 id="nombre">Chatea con Kleer</h1>
    <form action="/chat" method="post">
        <input type="radio" name="idioma" id="es" value="Español" checked/>
        <input type="radio" name="idioma" id="en" value="English"/>
        <input type="submit" value="Iniciar"/>
    </form>
</body>
</html>